In [2]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in c:\users\bruno\anaconda3\envs\dhdsblend37\lib\site-packages (from yfinance) (1.0.3)
Requirement already satisfied: numpy>=1.15 in c:\users\bruno\appdata\roaming\python\python37\site-packages (from yfinance) (1.18.5)
Requirement already satisfied: requests>=2.20 in c:\users\bruno\anaconda3\envs\dhdsblend37\lib\site-packages (from yfinance) (2.25.1)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Requirement already satisfied: lxml>=4.5.1 in c:\users\bruno\anaconda3\envs\dhdsblend37\lib\site-packages (from yfinance) (4.5.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\bruno\anaconda3\envs\dhdsblend37\lib\site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\bruno\anaconda3\envs\dhdsblend37\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\bruno\appdata\roaming\python\python37\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\bruno\appdata\roaming\python\python37\site-packages (from requests>=2.20->yfinance) (1.26.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bruno\appdata\roaming\python\python37\site-packages (from requests>=2.20->yfinance) (2020.11.8)
Requirement already satisfied: idna<3,>=2.5 in c:\users\bruno\appdata\roaming\python\python37\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: six>=1.5 in c:\users\bruno\appdata\roaming\python\python37\site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py): started
  Building wheel for yfinance (setup.py): finished with status 'done'
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23907 sha256=75c4361cb1101897c9d7fcdf333e93b4ba39b79dc9f4d6fde9746758525aea5e
  Stored in directory: c:\users\bruno\appdata\local\pip\cache\wheels\fe\87\8b\7ec24486e001d3926537f5f7801f57a74d181be25b11157983
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8367 sha256=1062739e2418a227cdc15b80e6c6b436681a59a3fd1b163eca3a06399168942d
  Stored in directory: c:\users\bruno\appdata\local\pip\cache\wheels\ae\25\47\4d68431a7ec1b6c4b5233365934b74c1d4e665bf5f968d363a
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.63
Note: you may need to restart the kernel to use updated packages.

In [1]:
import yfinance as yf #https://pypi.org/project/yfinance/
import pandas as pd
import numpy as np
import requests
import re

In [7]:
pd.options.display.float_format = '{:.5f}'.format

In [2]:
MELI = yf.Ticker("MELI")

In [13]:
MELI_hist = MELI.history(start="2018-01-01")

In [8]:
MELI.financials

,2020-12-31,2019-12-31,2018-12-31,2017-12-31
Research Development,352474000.00000,223807000.00000,146273000.00000,127160000.00000
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,81315000.00000,-107246000.00000,-65452000.00000,54070000.00000
Minority Interest,None,None,None,None
Net Income,-707000.00000,-171999000.00000,-36585000.00000,13780000.00000
Selling General Administrative,1229044000.00000,1031477000.00000,620217000.00000,447569000.00000
Gross Profit,2034526000.00000,1291436000.00000,836441000.00000,826580000.00000
Ebit,127692000.00000,-153161000.00000,-69482000.00000,144871000.00000
Operating Income,127692000.00000,-153161000.00000,-69482000.00000,144871000.00000
Other Operating Expenses,325316000.00000,189313000.00000,139433000.00000,106980000.00000
Interest Expense,-106690000.00000,-65876000.00000,-56249000.00000,-26469000.00000
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,82022000.00000,64753000.00000,-28867000.00000,40290000.00000
Total Revenue,3973465000.00000,2296314000.00000,1439653000.00000,1216542000.00000
Total Operating Expenses,3845773000.00000,2449475000.00000,1509135000.00000,1071671000.00000
Cost Of Revenue,1938939000.00000,1004878000.00000,603212000.00000,389962000.00000
Total Other Income Expense Net,-46377000.00000,45915000.00000,5241000.00000,-90801000.00000
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,-707000.00000,-171999000.00000,-36585000.00000,13780000.00000
Net Income Applicable To Common Shares,-3907000.00000,-180840000.00000,-36585000.00000,13780000.00000

In [10]:
MELI.recommendations

                                Firm    To Grade From Grade Action
Date
2012-02-23 07:47:00        JP Morgan     Neutral              down
2012-04-12 06:33:00    Goldman Sachs     Neutral              init
2012-05-01 07:30:00     PiperJaffray  Overweight              main
2012-05-07 12:14:00  Stifel Nicolaus        Sell              down
2012-06-13 07:22:00        JP Morgan     Neutral              main
...                              ...         ...        ...    ...
2021-05-03 12:49:52    Credit Suisse  Outperform              main
2021-05-06 10:40:16           Stifel         Buy       Hold     up
2021-05-06 13:07:19    Credit Suisse  Outperform              main
2021-06-07 12:17:57        Citigroup         Buy              main
2021-07-09 10:28:31          DZ Bank         Buy              init

[135 rows x 4 columns]

In [15]:
MELI_hist = MELI_hist.iloc[:,[0,3,4]]