In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [2]:
base_html = 'C://Users//bruno//Documents//DS//DataSets Grandes//Historicos Economicos//TasasBNA.html'

Fuente: http://www.bcra.gob.ar/PublicacionesEstadisticas/Principales_variables_datos.asp
#https://www.ambito.com/contenidos/tasas-activas-banco-nacion.html

In [3]:
tasasBNA = pd.read_html(base_html) # this parses all the tables in webpages to a list
df_tasas = tasasBNA[0]
df_tasas.head() # Values are int without decimals, which is incorrect due to the real value's nature

        Fecha  Valor
0  20/04/2020   2660
1  21/04/2020   2660
2  22/04/2020   2660
3  23/04/2020   2660
4  24/04/2020   2660

In [5]:
def decimals(df, column='Valor'):
    '''Converts integer value into float considering last 2 numbers as decimals. df parameter to specify df, column parameter to specify target column of df'''
    new_value_list = []
    for value in df[column]:
        ss1, ss2 = str(value)[:-2], str(value)[-2:] # Slicing the value as string to get separated the number
        new = ss1+'.'+ss2 # Adding the . into the value
        new_value_list.append(float(new)) # Adding the new value to a list}
    df[column] = pd.Series(new_value_list) # Converting it to a Series and inserting replacing the extracted values

In [6]:
decimals(df_tasas)

In [8]:
df_tasas.head(3)

        Fecha  Valor
0  20/04/2020   26.6
1  21/04/2020   26.6
2  22/04/2020   26.6

In [9]:
df_tasas.to_csv('../DataSets Grandes/Historicos Economicos/Tasas.csv')