In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import requests

In [ ]:
#base_html = 'C://Users//bruno//Documents//DS//DataSets Grandes//Historicos Economicos//MEP Historico.html'
base_html = 'H://My Drive//Formacion//Data Science//Financial//FinancialPF//Turista Hist√≥rico.html'

## Fuente: https://www.ambito.com/contenidos/dolar-mep-historico.html

In [7]:
td_hist = pd.read_html(base_html) # this parses all the tables in webpages to a list
df_td = td_hist[0]
df_td.head() # Values are int without decimals, which is incorrect due to the real value's nature

        Fecha  Referencia
0  05-11-2021       18126
1  04-11-2021       18056
2  03-11-2021       18007
3  02-11-2021       17932
4  01-11-2021       17922

In [8]:
def decimals(df, column='Valor'):
    '''Converts integer value into float considering last 2 numbers as decimals. df parameter to specify df, column parameter to specify target column of df'''
    new_value_list = []
    for value in df[column]:
        ss1, ss2 = str(value)[:-2], str(value)[-2:] # Slicing the value as string to get the number separated 
        new = ss1+'.'+ss2 # Adding the . into the value
        new_value_list.append(float(new)) # Adding the new value to a list
    df[column] = pd.Series(new_value_list) # Converting it to a Series and inserting replacing the extracted values

In [9]:
decimals(df_td, 'Referencia')

In [11]:
df_td.head(5)

        Fecha  Referencia
0  05-11-2021      181.26
1  04-11-2021      180.56
2  03-11-2021      180.07
3  02-11-2021      179.32
4  01-11-2021      179.22

In [10]:
df_td.tail(5) # Checking last values with changes made

          Fecha  Referencia
591  24-03-2020        91.4
592  23-03-2020        91.4
593  22-03-2020        91.4
594  21-03-2020        91.4
595  20-03-2020        91.4

In [9]:
df_td.to_csv('../DataSets Grandes/Historicos Economicos/TaxedDollar.csv')