In [3]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import os
from lxml import html
import codecs
import re

In [4]:
base_url = "http://www.bcra.gov.ar/PublicacionesEstadisticas/Principales_variables_datos.asp"
base_html = 'C://Users//bruno//Documents//DS//DataSets Grandes//Historicos Economicos//UVA.html'

Source = http://www.bcra.gov.ar/PublicacionesEstadisticas/Principales_variables_datos.asp

In [ ]:
#file = codecs.open(base_html, 'r')
#print(file.read())

In [10]:
df_list = pd.read_html(base_html) # this parses all the tables in webpages to a list
df = df_list[0]
df.head() # Values are int without decimals, which is incorrect due to the real value's nature

        Fecha  Valor
0  01/01/2018   2115
1  02/01/2018   2115
2  03/01/2018   2119
3  04/01/2018   2120
4  05/01/2018   2121

In [6]:
df.shape # Checking size of table

(1287, 2)

In [7]:
df.tail(5) # Checking last values to generate a rule to add . between the numbers

           Fecha  Valor
1282  06/07/2021   8166
1283  07/07/2021   8175
1284  08/07/2021   8184
1285  09/07/2021   8193
1286  10/07/2021   8193

In [11]:
def decimals(df, column='Valor'):
    '''Converts integer value into float considering last 2 numbers as decimals. df parameter to specify df, column parameter to specify target column of df'''
    new_value_list = []
    for value in df[column]:
        ss1, ss2 = str(value)[:-2], str(value)[-2:] # Slicing the value as string to get separated the number
        new = ss1+'.'+ss2 # Adding the . into the value
        new_value_list.append(float(new)) # Adding the new value to a list}
    df[column] = pd.Series(new_value_list) # Converting it to a Series and inserting replacing the extracted values

In [12]:
decimals(df)

In [13]:
df.tail(5) # Checking last values with changes made

           Fecha  Valor
1282  06/07/2021  81.66
1283  07/07/2021  81.75
1284  08/07/2021  81.84
1285  09/07/2021  81.93
1286  10/07/2021  81.93

In [188]:
df.to_csv('../DataSets Grandes/Historicos Economicos/UVA.csv')