In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [2]:
base_html = 'C://Users//bruno//Documents//DS//DataSets Grandes//Historicos Economicos//DineroEnPublico.html'

Fuente: http://www.bcra.gov.ar/PublicacionesEstadisticas/Principales_variables_datos.asp

In [3]:
dinero_hist = pd.read_html(base_html) # this parses all the tables in webpages to a list
df_dinero = dinero_hist[0]
df_dinero.head() # Values are int without decimals, which is incorrect due to the real value's nature

        Fecha    Valor
0  02/01/2018  702.333
1  03/01/2018  701.096
2  04/01/2018  701.111
3  05/01/2018  703.149
4  08/01/2018  706.062

In [4]:
df_dinero.to_csv('../DataSets Grandes/Historicos Economicos/DineroCirc.csv')